<h1 id="tableLabel">Buddy’s birthday dates calendar</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!birthdayDates"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<label>
  <input type="checkbox" (change)="onCheckboxChange($event)" />
  Show today's and upcoming birthdays
</label>

<table *ngIf="birthdayDates">
    <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Birthday date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let birthdayDate of birthdayDates">
            <td>{{ birthdayDate.id }}</td>
            <td>{{ birthdayDate.firstName }}</td>
            <td>{{ birthdayDate.lastName }}</td>
            <td>{{ birthdayDate.birthDate }}</td>
            <td><button type="button" (click)="onButtonClick(birthdayDate.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
