<<h3 class="pb-3" style="text-align:center">Add acquaintance's birthday date</h3>

<div class="container col-lg-5 p-3 border">
  <form #editForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-2">
      <label for="firstName" class="form-label">First name:</label>
      <input type="text" id="firstName" name="firstName" class="form-control" required [(ngModel)]="birthdayDate.firstName" #name="ngModel"/>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <div class="invalid-feedback d-block" *ngIf="name.errors?.['required']">Please enter a first name</div>
      </div>
    </div>

    <div class="mb-2">
      <label for="lastName" class="form-label">Last name:</label>
      <input type="text" id="lastName" name="lastName" class="form-control" required [(ngModel)]="birthdayDate.lastName" #lastName="ngModel" />
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
        <div class="invalid-feedback d-block" *ngIf="lastName.errors?.['required']">Please enter a last name</div>
      </div>
    </div>

    <div class="mb-2">
      <label for="birthDate" class="form-label">Birthday:</label>
      <div id="datepicker-container"></div>
      <input type="text"
             id="birthDate"
             name="birthDate"
             class="form-control"
             required
             bsDatepicker
             placement="right"
             [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-dark-blue', dateInputFormat: 'DD.MM.YYYY' }"
             [(ngModel)]="birthdayDate.birthDate"
             #date="ngModel" />
      <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert">
        <div class="invalid-feedback d-block" *ngIf="date.errors?.['required']">Please enter a correct birthday date</div>
      </div>
    </div>

    <div class="my-2">
      <label for="profileImage" class="form-label">Profile image</label>
      <input class="form-control" type="file" accept="image/*" id="profileImage" (change)="onFileChange($event)">
    </div>

    <div class="d-grid gap-6 col-3 mt-4">
      <button type="submit" class="btn btn-outline-primary" [disabled]="name.errors?.['required'] || lastName.errors?.['required'] || date.errors?.['required'] || !isFileSelected">Save</button>
    </div>
  </form>
</div>
